/* Override some CSS properties from other modules */
.react-datepicker-popper {
  z-index: 1;
  position: fixed!important;
  top: 50px!important;
}

/* Main CSS */
html {
  font-family: 'Oswald', Tahoma, sans-serif!important;
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
}

#root{
  height: 100%;
}

#outer-container{
  height: 100%;
}

#page-wrap{
  height: 100%;
}

.sidebar{
  position: fixed;
  left: 0px;
  right: 0px;
  top:0px;
  bottom: 0px;
  background: #0D1B2A;
  width: 75px;
}

.share-overlay{
  background: rgba(0,0,0,0.8)
}

.share-modal{
  border-radius: 5px;
  padding: 40px;
}

.share-close-button{
  top: -30px;
  right: -5px;
}
.share-close-button:hover{
  cursor: pointer;
}
.share-close-icon{
  fill:white;
  width: 30px;
  stroke: white;
  stroke-width: 2px;
  width: 23px;
  height: 23px;
}
.share{
   position: fixed;
   top:125px;
   color: #fafafa;
   left:22px;
   cursor: pointer;
}

.share:hover{
  color: #bababa;
}

.share-link-div{
  box-sizing: border-box;
  display: table;
}

.buttonInside{
  width: 400px;
  position:relative;
  margin-bottom:10px;
}

.share-link-button{
  color: #4e4e4e;
  position: absolute;
  right: 0px;
  /* top: 4px; */
  border: none;
  height: 100%;
  width: 30px;
  /* border-radius: 100%; */
  outline: none;
  text-align: center;
  font-weight: bold;
  padding: 2px;
  background: blue;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid #d5d5d5;
}

.share-link-button:hover{
  cursor:pointer;
}

.share-link{
  height:25px;
  width:calc(100% - 35px);
  padding-left:10px;
/*  border-radius: 4px;*/
/*  border:none;outline:none;*/
  border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
}

*:focus {
    outline: none!important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fafafa;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #0D1B2A;
/*  padding: 2.5em 1.5em 0;*/
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
/*  padding: 0.8em;*/
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
/*  background: none!important;*/
}
.menu-header{
  color: #fafafa;
  height: 50px;
}
.menu-header h1{
  margin: 0px;
  padding-left: 10px;
  padding-top: 20px;
}

.menu-options{
/*  padding: 30px 10px 10px 10px;*/
  font-size: 14px;
  height: 100%;
}

.menu-options-scroll{
  height: -webkit-calc(100% - 50px);
  height: expression(100% - 50px);
  height: -moz-calc(1100% - 50px);
  height: -o-calc(100% - 50px);
  height: calc(100% - 50px);
  height: calc(100% - 50px);
}

/*.track-vertical{
  position: absolute;
    width: 6px;
    right: 2px;
    bottom: 2px;
    top: 2px;
    border-radius: 3px;
    background-color: #b2b2b2!important;
}*/

.menu-options-inner{
  padding-left: 10px;
  padding-right: 10px;
}

.menu-options-label{
  margin: 15px 0px 5px 0px;
  color: #fafafa;
  display: inline-block;
/*  font-size: 16px;*/
}

.tooltip{
  margin-left: 10px;
  position: absolute;
  top: 26px;
  cursor: pointer;
}

#sdate-div{
  width: 45%;
  display: inline-block;
}

#edate-div{
  width: 45%;
  display: inline-block;
  float: right;
  margin-right: 10px;
}

.date-input{
  text-align: center;
  height: 25px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 100%;
}

.react-datepicker-popper{

}

.plot-display-toggles{
  padding-top: 20px; 
  color: #fafafa;
}
.btn {
  /*border: 3px solid #1a1a1a;*/
  display: inline-block;
  padding: 10px 0px 10px 0px;
  position: relative;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
}

input[type=radio].toggle {
  display: none;

}
input[type=radio].toggle + label {
  cursor: pointer;
  min-width: 50%;
  background: #40474e;\
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
input[type=radio].toggle + label:hover {
  background: #30363c;
  color: #00BD70;
}
input[type=radio].toggle + label:after {
  background: #00BD70;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
/*  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);*/
  width: 100%;
  z-index: -1;
}
input[type=radio].toggle.toggle-left + label {
  border-right: 0;
  border-radius: 5px 0px 0px 5px;
}
input[type=radio].toggle.toggle-left + label:after {
  left: 100%;
  border-radius: 5px 0px 0px 5px;
}
input[type=radio].toggle.toggle-right + label {
  /*margin-left: -5px;*/
  border-radius: 0px 5px 5px 0px;
}
input[type=radio].toggle.toggle-right + label:after {
  left: -100%;
  border-radius: 0px 5px 5px 0px;
}
input[type=radio].toggle:checked + label {
  z-index: 0;
  cursor: default;
  color: #fff;
  transition: color 200ms;
}
input[type=radio].toggle:checked + label:after {
  left: 0;
}

.plot-menu-button-div{
  padding-top: 40px;
}
.plot-menu-button {
  color: #fafafa;
  background: #00BD70;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  border:none;
  border-radius: 5px;
  font-size: 14px;

  -webkit-transition: all 200ms;
  -moz-transition:    all 200ms;
  -ms-transition:     all 200ms;
  -o-transition:      all 200ms;
  transition:         all 200ms;
}
.plot-menu-button:hover {
  background: #019257;
}
.plot-menu-button:disabled {
  color: #8c8c8c;
  background: #40474d;
}

.left-arrow{
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.left-arrow p{
  left: 10px;
}

.right-arrow{
  padding-left: 10px;
  float: right;
  padding-right: 10px;
  cursor: pointer;
}

.right-arrow p{
  right: 10px;
}

.date-arrow-div{
  color: #e6e6e6;
  width: 100%;
  margin-top: 25px;
  display: inline-block;
}

.date-arrow-icon{
  display: inline-block;
}

.date-arrow-text{
  display: inline-block;
  position: relative;
  bottom: 6px;
}

.plot-area{
  height: 100%;
  padding: 0px 0px 0px 110px;
    white-space: nowrap;
  display: inline-block;
  float: right;
  width: -webkit-calc(100% - 75px);
  width: expression(100% - 75px);
  width: -moz-calc(100% - 75px);
  width: -o-calc(100% - 75px);
  width: calc(100% - 75px);
  width: calc(100% - 75px);
}

.plot-area p{
  margin: 0px 0px 2px 0px;
  font-weight: bold;
  font-size: 14px;

}

.plot-area-scroll{
  overflow: auto;
}

.plot-section{
  padding-top: 25px;
  padding-left: 20px;
}

.plot-row{
  padding-left: 10px;
}
.plot-row-plots{
  padding-left: 10px;
  border-left: 1px dotted black;
}
.plot{
  padding: 5px;
  display: inline-block;
}
.plot-date{
  text-align: center;
  font-weight: normal!important;
}

.plot-img{
  max-width: 200px;
  cursor: pointer;
}

.list-view-div{
  resize: both;
  height: 100%;
  width: 25%;
/*  border-right: 2px dashed #0D1B2A;*/
}
